.main {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.parent_grid {
  position: relative;
  display: grid;
  grid-template-rows: 5rem 1fr;
  height: 100vh;
  width: 100%;
  grid-template-areas:
    "navBar navBar"
    "body body"
    "footer footer";
}

.navBar {
  grid-area: navBar;
  display: flex;
  width: 100%;
  background-color: rgb(255, 107, 107);
  justify-content: space-between;
  text-align: center;
  align-items: center;
  z-index: 11;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.45);
  transition: background-color 0.5s ease;
}

.navBar img {
  width: 5rem;
  margin-left: 1rem;
  cursor: default !important;
}

.userButtonFloat {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  z-index: 12;
}

.website_title {
  display: flex;
  color: white;
  font-size: x-large;
  gap: 1rem;
  transition: color 0.5s ease;
}

.website_title span {
  color: rgb(116, 197, 255);
  transition: color 0.5s ease;
}

.title_wrap {
  position: relative;
  display: flex;
  align-items: center;
}

.onlydogs {
  visibility: visible;
  opacity: 1;
  transition:
    visibility 0.3s ease,
    opacity 0.3s ease;
}

.dogstyle {
  position: absolute;
  box-sizing: content-box;
  left: 0;
  visibility: hidden;
  opacity: 0;
  width: 8rem;
  overflow: hidden;
  border-right: 2px solid white;
  transition:
    visibility 0.3s ease,
    opacity 0.3s ease;
}

.title_wrap:hover .onlydogs {
  visibility: hidden;
  opacity: 0;
}

.title_wrap:hover .dogstyle {
  visibility: visible;
  opacity: 1;
  animation:
    typing 2s steps(8, end),
    cursor 1s steps(8, end) infinite;
}

@keyframes typing {
  0% {
    width: 0rem;
  }
}
@keyframes cursor {
  50% {
    border: none;
  }
}

.buttons_container {
  display: flex;
  margin-right: 2.7rem;
}

.button1 {
  background-color: white;
  color: rgb(255, 107, 107);
  align-content: center;
  width: 7rem;
  height: 2rem;
  border-radius: 5rem;
  margin-right: 1rem;
  cursor: pointer;
  transition:
    color 0.5s ease,
    background-color 0.5s ease;
}

.button1_active {
  background-color: rgb(255, 107, 107);
  color: white;
  align-content: center;
  width: 7rem;
  height: 2rem;
  border-radius: 5rem;
  margin-right: 1rem;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.45);
  transition:
    color 0.5s ease,
    background-color 0.5s ease;
}

.button1:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.45);
  background-color: rgb(255, 107, 107);
  color: white;
}

.button1_active:hover {
  background-color: white;
  color: rgb(255, 107, 107);
}

.buttons_container:has(.button1:hover) .button1_active {
  background-color: white;
  color: rgb(255, 107, 107);
}

.body {
  grid-area: body;
  position: relative;
  overflow: hidden;
  align-content: center;
  background-color: white;
  transition: background-color 0.5s ease;
}

.pageContent {
  transition: filter 0.3s ease;
}

.blurred {
  filter: blur(5px);
  pointer-events: none;
}

.card_container {
  position: absolute;
  background-color: rgb(255, 255, 255);
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 28rem;
  width: 25rem;
  border-radius: 10px;
  z-index: 5;
  transition:
    transform 0.5s ease,
    opacity 0.5s ease;
}

.swipeRight {
  animation: swipeRight 0.5s forwards;
}

.swipeLeft {
  animation: swipeLeft 0.5s forwards;
}

@keyframes swipeRight {
  0% {
    transform: translateX(-50%);
    opacity: 1;
  }
  100% {
    transform: translate(100%, -100%) rotate(30deg);
    opacity: 0;
  }
}

@keyframes swipeLeft {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translate(-100%, -100%) rotate(-30deg);
    opacity: 0;
  }
}

.dog_picture1 {
  align-content: center;
  width: 100%;
  height: 55%;
}

.dog_picture1 img {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: default !important;
}

.dog_info {
  border-top: 3px solid white;
  padding: 1rem;
  background-color: rgb(255, 107, 107);
  border-radius: 0px 0px 10px 10px;
  transition:
    background-color 0.5s ease,
    color 0.5s ease;
}

.dog_info_content {
  display: flex;
  justify-content: space-between;
  height: 2.5rem;
}

.reject_button {
  color: red;
  font-size: 2rem;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  align-content: center;
  transition: transform 0.3s ease;
}

.accept_button {
  color: red;
  font-size: 2rem;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  align-content: center;
  transition: transform 0.3s ease;
}

.accept_button:hover,
.reject_button:hover {
  animation: heartbeat 1s ease infinite;
}

@keyframes heartbeat {
  50% {
    transform: scale(1.5);
  }
}

.alert_container {
  display: none;
  position: absolute;
  height: 25rem;
  width: 20rem;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgb(255, 107, 107);
  z-index: 6;
  transition:
    background-color 0.5s ease,
    color 0.5s ease;
}

.show {
  display: block;
}

.alert {
  text-align: center;
}

.dog_picture2 {
  align-content: center;
  width: 100%;
  height: 15rem;
  margin-bottom: 0.5rem;
}

.dog_picture2 img {
  cursor: default !important;
}

.dog_picture2 img {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid white;
  object-fit: cover;
}

.alert_buttons {
  margin: auto 1rem;
  display: flex;
  justify-content: space-between;
}

.cancel_button {
  background-color: red;
  width: 5rem;
  height: 2rem;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  align-content: center;
  transition: transform 0.3s ease;
}

.message_button {
  background-color: green;
  width: 5rem;
  height: 2rem;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  align-content: center;
  transition: transform 0.5s ease;
}

.message_button:hover,
.cancel_button:hover {
  transform: scale(1.5);
}

.heart_container {
  visibility: visible;
  position: absolute;
  bottom: -50rem;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  display: flex;
  z-index: 10;
}

.heart_container div {
  height: 10rem;
  width: 7.5rem;
}

.animate div {
  visibility: visible;
  animation: flying 10s alternate infinite,
  beat 5s ease infinite;
}

@keyframes flying {
  from {
    transform: translateY(-25rem);
  }
  to {
    transform: translateY(-75rem);
  }
}

@keyframes beat {
  10% {
    font-size: 2rem;
  }
  20% {
    font-size: 5rem;
  }
  30% {
    font-size: 2rem;
  }
  40% {
    font-size: 5rem;
  }
  50% {
    font-size: 2rem;
  }
  60% {
    font-size: 5rem;
  }
  70% {
    font-size: 2rem;
  }
  80% {
    font-size: 5rem;
  }
  90% {
    font-size: 2rem;
  }
  100% {
    font-size: 5rem;
  }
}

.heart_container div:nth-child(1) {
  animation-delay: 2s;
}
.heart_container div:nth-child(2) {
  animation-delay: 4s;
}
.heart_container div:nth-child(3) {
  animation-delay: 6s;
}
.heart_container div:nth-child(4) {
  animation-delay: 8s;
}
.heart_container div:nth-child(5) {
  animation-delay: 10s;
}
.heart_container div:nth-child(6) {
  animation-delay: 1s;
}
.heart_container div:nth-child(7) {
  animation-delay: 3s;
}
.heart_container div:nth-child(8) {
  animation-delay: 5s;
}
.heart_container div:nth-child(9) {
  animation-delay: 7s;
}
.heart_container div:nth-child(10) {
  animation-delay: 9s;
}

.toggle_container {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  width: 5rem;
  overflow: hidden;
  border-radius: 10px;
  border: 3px solid rgba(0, 0, 0, 0.5);
  transition: border 0.5s ease;
}

.light_darkMode {
  position: relative;
  background-color: skyblue;
  width: 5rem;
  height: 1rem;
  display: flex;
  transition: background-color 0.5s ease;
  cursor: pointer;
}

.sun_moon {
  position: absolute;
  background-color: yellow;
  box-shadow: 0px 0px 10px gold;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  transition:
    transform 0.5s ease,
    background-color 0.5s ease,
    box-shadow 0.5s ease;
}

.cloud1 {
  position: absolute;
  top: -1px;
  left: 2.3rem;
  font-size: 0.8rem;
  color: white;
  transition: transform 0.5s ease;
}

.cloud2 {
  position: absolute;
  top: 4px;
  left: 3.5rem;
  font-size: 0.8rem;
  color: white;
  transition: transform 0.5s ease;
}

.moon_crater1 {
  position: absolute;
  height: 0.3rem;
  width: 0.3rem;
  top: 3px;
  left: 3rem;
  content: " ";
  border-radius: 50%;
  background-color: rgba(119, 136, 153, 0.2);
  visibility: hidden;
}

.moon_crater2 {
  position: absolute;
  height: 0.3rem;
  width: 0.3rem;
  top: 10px;
  left: 3.4rem;
  content: " ";
  border-radius: 50%;
  background-color: rgba(119, 136, 153, 0.2);
  visibility: hidden;
}

.moon_crater3 {
  position: absolute;
  height: 0.3rem;
  width: 0.3rem;
  top: 7px;
  left: 4rem;
  content: " ";
  border-radius: 50%;
  background-color: rgba(119, 136, 153, 0.2);
  visibility: hidden;
}

.star1 {
  position: absolute;
  top: 2px;
  left: 1rem;
  font-size: 0.3rem;
  color: lightgray;
  transform: translateX(-3rem);
  transition: transform 0.5s ease;
}

.star2 {
  position: absolute;
  top: 5px;
  left: 1.8rem;
  font-size: 0.3rem;
  color: lightgray;
  transform: translateX(-4.5rem);
  transition: transform 0.5s ease;
}

.star3 {
  position: absolute;
  top: 8px;
  left: 0.3rem;
  font-size: 0.3rem;
  color: lightgray;
  transform: translateX(-1.5rem);
  transition: transform 0.5s ease;
}

.toggle:checked ~ .navBar {
  background-color: rgb(116, 197, 255);
  box-shadow: 0px 2px 10px 0px rgba(255, 255, 255, 0.5);
}

.toggle:checked ~ .navBar > .website_title {
  color: rgb(255, 107, 107);
}

.toggle:checked ~ .navBar > .website_title span {
  color: white;
}

.toggle:checked ~ .navBar > .website_title > .title_wrap > .dogstyle {
  border-right: 2px solid black;
}

.toggle:checked ~ .navBar > .buttons_container > .button1 {
  background-color: rgb(42, 42, 42);
  color: rgb(116, 197, 255);
}

.toggle:checked ~ .navBar > .buttons_container > .button1_active {
  background-color: rgb(116, 197, 255);
  color: black;
}

.toggle:checked ~ .navBar > .buttons_container > .button1:hover {
  background-color: rgb(116, 197, 255);
  color: black;
}

.toggle:checked ~ .navBar > .buttons_container > .button1_active:hover {
  background-color: rgb(42, 42, 42);
  color: rgb(116, 197, 255);
}

.toggle:checked
  ~ .navBar
  > .buttons_container:has(.button1:hover)
  > .button1_active {
  background-color: rgb(42, 42, 42);
  color: rgb(116, 197, 255);
}

.toggle:checked ~ .body {
  background-color: rgb(42, 42, 42);
}

.toggle:checked ~ .body > .pageContent > .card_container > .dog_info {
  background-color: rgb(116, 197, 255);
  color: black;
}

.toggle:checked ~ .body > .toggle_container {
  border: 3px solid white;
}

.toggle:checked ~ .body > .alert_container {
  background-color: rgb(116, 197, 255);
  color: black;
}

.toggle:checked ~ .body > .toggle_container > .light_darkMode {
  background-color: rgb(42, 42, 42);
}

.toggle:checked ~ .body > .toggle_container > .light_darkMode > .sun_moon,
.toggle:checked ~ .body > .toggle_container > .light_darkMode > .cloud1,
.toggle:checked ~ .body > .toggle_container > .light_darkMode > .cloud2 {
  transform: translateX(2.6rem);
}

.toggle:checked ~ .body > .toggle_container > .light_darkMode > .sun_moon {
  background-color: lightgray;
  box-shadow: 0px 0px 10px darkgrey;
}

.toggle:checked ~ .body > .toggle_container > .light_darkMode > .moon_crater1,
.toggle:checked ~ .body > .toggle_container > .light_darkMode > .moon_crater2,
.toggle:checked ~ .body > .toggle_container > .light_darkMode > .moon_crater3 {
  visibility: visible;
}

.toggle:checked ~ .body > .toggle_container > .light_darkMode > .star1,
.toggle:checked ~ .body > .toggle_container > .light_darkMode > .star2,
.toggle:checked ~ .body > .toggle_container > .light_darkMode > .star3 {
  transform: translateX(0rem);
}

.footer {
  grid-area: footer;
  text-align: center;
  align-content: center;
  color: white;
  height: 2rem;
  z-index: 12;
  background-color: rgb(52, 58, 64);
}

@media screen and (max-width: 600px) and (orientation: portrait) {
  .website_title {
    font-size: 1rem;
  }

  .website_title img {
    width: 3rem;
  }

  .dogstyle {
    width: 5.5rem;
  }

  .button1 {
    width: 3rem;
    font-size: 0.5rem;
  }

  .button1_active {
    width: 3rem;
    font-size: 0.5rem;
  }

  .card_container {
    height: 50%;
    width: 80%;
  }
}

@media screen and (max-width: 1000px) and (orientation: landscape) {
  .parent_grid {
    grid-template-rows: 6rem 30rem;
  }

  .navBar {
    position: fixed;
  }

  .userButtonFloat {
    top: 2rem;
  }
}
