.main {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;
  background-image: url(/images/DogBG.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.span {
  color: rgb(255, 107, 107);
}

.span + span {
  color: rgb(116, 197, 255);
}

.flex1 {
  display: flex;
  position: relative;
}

.user_icon1 {
  position: absolute;
  top: -15px;
  font-size: 1.5rem;
}

.user_input {
  color: white;
  background-color: transparent;
  border: none;
  width: 20rem;
  font-size: 1.5rem;
  padding-left: 1.8rem;
  border-bottom: 3px solid white;
  caret-color: white;
}

.user_label {
  position: absolute;
  top: -15px;
  transition:
    top 0.3s ease,
    font-size 0.3s ease;
  font-size: 1rem;
  margin-left: 1.8rem;
}

.user_input:focus {
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid white;
}

.flex1:focus-within .user_label {
  top: -25px;
  font-size: 1rem;
}

.userButtonFloat {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.container1 {
  text-align: center;
  justify-items: center;
  color: white;
  border: 3px solid white;
  border-radius: 10px;
  width: 30rem;
  background-color: rgba(0, 0, 0, 0.4);
  transition:
    backdrop-filter 0.5s ease,
    border 0.5s ease;
}

.container1 h1 {
  margin: 0.5rem;
}

.container1:hover {
  backdrop-filter: blur(4px);
  border: 0px solid rgba(255, 255, 255, 0);
}

.location_gender_input {
  position: relative;
  background: none;
  border: none;
  color: white;
  top: -15px;
  width: 20rem;
  font-size: 1.5rem;
  padding-left: 1.3rem;
}

.location_gender_input option {
  color: black;
  font-size: 1rem;
  line-height: 2rem;
}

.picture_input {
  position: relative;
  top: -13px;
  left: 2rem;
  width: 20rem;
  font-size: 1rem;
  cursor: pointer;
}

.picture_content {
  position: relative;
  margin-left: 2rem;
}

.picture_content::after {
  position: absolute;
  bottom: 1.5;
  content: "Image (4MB)";
  font-size: 0.75rem;
  color: white;
}

.toast_container {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 1000;
}

.toast {
  position: absolute;
  bottom: 0rem;
  right: 0rem;
  background-color: white;
  color: black;
  width: max-content;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  opacity: 1;
  animation: fadeInOut 4s ease forwards;
  transition:
    transform 0.5s ease;
}

.toast:hover {
  transform: translateY(-1rem);
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    bottom: 0rem;
    right: 0rem;
  }
  10% {
    opacity: 1;
    bottom: 0.5rem;
    right: 0.5rem;
  }
  90% {
    opacity: 1;
    bottom: 0.5rem;
    right: 0.5rem;
  }
  100% {
    opacity: 0;
    bottom: 1rem;
    right: 1rem;
  }
}

.center {
  justify-items: center;
}

.border_bottom1 {
  border-bottom: 3px solid white;
}

.block1 {
  display: grid;
  row-gap: 2rem;
  margin-bottom: 1rem;
}

.h2 {
  text-align: center;
  margin: 0rem;
}

.button1 {
  color: black;
  background-color: rgb(255, 255, 255);
  font-size: 1rem;
  border-radius: 10px;
  width: 15rem;
  height: 5vh;
  border: none;
  cursor: pointer;
  margin-bottom: 1rem;
}

@media screen and (max-width: 600px) and (orientation: portrait) {
  .container2 {
    width: 90vw;
  }
}
