.main {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.parent_grid {
  display: grid;
  grid-template-rows: 5rem 1fr;
  height: 100vh;
  width: 100%;
  grid-template-areas:
    "navBar"
    "body"
    "footer";
}

.navBar {
  grid-area: navBar;
  display: flex;
  width: 100%;
  background-color: rgb(255, 107, 107);
  justify-content: space-between;
  text-align: center;
  align-items: center;
  z-index: 3;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.45);
}

.navBar img {
  width: 5rem;
  margin-left: 1rem;
  cursor: default !important;
}

.userButtonFloat {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  z-index: 4;
}

.website_title {
  display: flex;
  color: white;
  font-size: x-large;
  gap: 1rem;
  transition: color 0.5s ease;
}

.website_title span {
  color: rgb(116, 197, 255);
  transition: color 0.5s ease;
}

.title_wrap {
  position: relative;
  display: flex;
  align-items: center;
}

.onlydogs {
  visibility: visible;
  opacity: 1;
  transition:
    visibility 0.3s ease,
    opacity 0.3s ease;
}

.dogstyle {
  position: absolute;
  box-sizing: content-box;
  left: 0;
  visibility: hidden;
  opacity: 0;
  width: 8rem;
  overflow: hidden;
  border-right: 2px solid white;
  transition:
    visibility 0.3s ease,
    opacity 0.3s ease;
}

.title_wrap:hover .onlydogs {
  visibility: hidden;
  opacity: 0;
}

.title_wrap:hover .dogstyle {
  visibility: visible;
  opacity: 1;
  animation:
    typing 2s steps(8, end),
    cursor 1s steps(8, end) infinite;
}

@keyframes typing {
  0% {
    width: 0rem;
  }
}
@keyframes cursor {
  50% {
    border: none;
  }
}

.buttons_container {
  display: flex;
  margin-right: 2.7rem;
}

.button1,
.button1_active {
  width: 7rem;
  height: 2rem;
  border-radius: 5rem;
  margin-right: 1rem;
  cursor: pointer;
  align-content: center;
  transition:
    color 0.5s ease,
    box-shadow 0.5s ease,
    background-color 0.5s ease;
}

.button1 {
  background-color: white;
  color: rgb(255, 107, 107);
}

.button1_active {
  background-color: rgb(255, 107, 107);
  color: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.45);
}

.button1:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.45);
  background-color: rgb(255, 107, 107);
  color: white;
}

.button1_active:hover {
  background-color: white;
  color: rgb(255, 107, 107);
}

.buttons_container:has(.button1:hover) .button1_active {
  background-color: white;
  color: rgb(255, 107, 107);
}

.body {
  grid-area: body;
  position: relative;
  overflow: hidden;
  transition:
    background-color 0.5s ease,
    color 0.5s ease;
}

.grid1 {
  display: grid;
  grid-template-columns: 15rem 1fr;
  height: 100vh;
  width: 100%;
  grid-template-areas: "chats messages";
}

.chats {
  grid-area: chats;
  display: block;
  height: 100vh;
  border-right: 2px solid rgb(201, 201, 201);
  transition: border-right 0.5s ease;
}

.font_size1 {
  font-size: 1.5rem;
  margin-left: 1rem;
}

.chats_content {
  display: block;
  overflow-y: auto;
  height: calc(100vh - 12rem);
}

.highlight {
  background-color: rgba(255, 107, 107, 0.2);
  border-left: 3px solid rgb(255, 107, 107);
}

.no_highlight {
  position: relative;
}

.no_highlight::before {
  content: " ";
  position: absolute;
  background-color: rgba(255, 107, 107, 0);
  width: 0%;
  height: 100%;
  border-left: 3px solid rgba(255, 107, 107, 0);
  transition:
    width 0.5s ease,
    background-color 0.5s ease,
    border-left 0.5s ease;
}

.no_highlight:hover::before {
  background-color: rgba(255, 107, 107, 0.2);
  width: 100%;
  border-left: 3px solid rgb(255, 107, 107);
}

.flex1 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: 1rem;
}

.flex2 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.profile1 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  cursor: default !important;
}

.messages {
  grid-area: messages;
  display: grid;
  grid-template-rows: 5rem 54vh 5rem;
  height: 100vh;
  width: 100%;
  grid-template-areas:
    "head"
    "message_area"
    "text_container";
}

.head {
  grid-area: head;
  margin-left: 1rem;
  display: flex;
}

.profile2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  cursor: default !important;
}

.message_area {
  grid-area: message_area;
  background-color: rgba(201, 201, 201, 0.5);
  overflow-y: auto;
  transition: background-color 0.5s ease;
}

.message_otherUser {
  display: flex;
  justify-content: flex-start;
  margin: 1rem;
}

.message_currentUser {
  display: flex;
  justify-content: flex-end;
  margin: 1rem;
}

.messageContainer_currentUser,
.messageContainer_otherUser {
  background-color: rgb(255, 107, 107);
  font-size: 1rem;
  color: white;
  text-align: left;
  border-radius: 10px;
  padding: 0.5rem;
  max-width: 50%;
}

.text_container {
  grid-area: text_container;
  overflow: auto;
  margin-left: 1rem;
  margin-right: 1rem;
  align-content: center;
}

.preview {
  margin: 0.5rem;
  text-align: left;
}

.chatMedia {
  max-width: 200px;
  max-height: 200px;
  border-radius: 8px;
  object-fit: cover;
  cursor: default !important;
}

.previewMedia {
  max-width: 200px;
  max-height: 200px;
  position: relative;
  border-radius: 8px;
}

.previewMedia img {
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
  cursor: default !important;
}

.close_file {
  position: absolute;
  right: 1px;
  top: 1px;
  text-align: center;
  color: white;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: rgba(255, 107, 107, 0.5);
  font-size: 1.5rem;
  transition: background-color 0.5s ease;
}

.close_file:hover {
  background-color: rgb(255, 107, 107);
}

.text_area {
  align-content: center;
  display: flex;
  gap: 1rem;
  margin: 0.5rem;
}

.file_upload {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  color: white;
  text-align: center;
  align-content: center;
  background-color: rgb(255, 107, 107);
  transition:
    color 0.5s ease,
    box-shadow 0.5s ease,
    background-color 0.5s ease;
}

.file_upload:hover {
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
  background-color: white;
  color: rgb(255, 107, 107);
}

.text_input {
  height: 3rem;
  width: 100%;
  border-radius: 20px;
  border: 2px solid rgb(201, 201, 201);
  color: black;
  outline: none;
}

.text_input:focus {
  border: 2px solid rgb(255, 107, 107);
  outline: none;
}

.send_button {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: rgb(255, 107, 107);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.45);
  border: none;
  color: white;
  cursor: pointer;
  transition:
    color 0.5s ease,
    box-shadow 0.5s ease,
    background-color 0.5s ease;
}

.send_button:hover {
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
  background-color: white;
  color: rgb(255, 107, 107);
}

.send_button:disabled {
  opacity: 0.5;
  cursor: default !important;
}

.toggle_container {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  width: 5rem;
  overflow: hidden;
  border-radius: 10px;
  border: 3px solid rgba(0, 0, 0, 0.5);
  transition: border 0.5s ease;
}

.light_darkMode {
  position: relative;
  background-color: skyblue;
  width: 5rem;
  height: 1rem;
  display: flex;
  transition: background-color 0.5s ease;
  cursor: pointer;
}

.sun_moon {
  position: absolute;
  background-color: yellow;
  box-shadow: 0px 0px 10px gold;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  transition:
    transform 0.5s ease,
    background-color 0.5s ease,
    box-shadow 0.5s ease;
}

.cloud1 {
  position: absolute;
  top: -1px;
  left: 2.3rem;
  font-size: 0.8rem;
  color: white;
  transition: transform 0.5s ease;
}

.cloud2 {
  position: absolute;
  top: 4px;
  left: 3.5rem;
  font-size: 0.8rem;
  color: white;
  transition: transform 0.5s ease;
}

.moon_crater1 {
  position: absolute;
  height: 0.3rem;
  width: 0.3rem;
  top: 3px;
  left: 3rem;
  content: " ";
  border-radius: 50%;
  background-color: rgba(119, 136, 153, 0.2);
  visibility: hidden;
}

.moon_crater2 {
  position: absolute;
  height: 0.3rem;
  width: 0.3rem;
  top: 10px;
  left: 3.4rem;
  content: " ";
  border-radius: 50%;
  background-color: rgba(119, 136, 153, 0.2);
  visibility: hidden;
}

.moon_crater3 {
  position: absolute;
  height: 0.3rem;
  width: 0.3rem;
  top: 7px;
  left: 4rem;
  content: " ";
  border-radius: 50%;
  background-color: rgba(119, 136, 153, 0.2);
  visibility: hidden;
}

.star1 {
  position: absolute;
  top: 2px;
  left: 1rem;
  font-size: 0.3rem;
  color: lightgray;
  transform: translateX(-3rem);
  transition: transform 0.5s ease;
}

.star2 {
  position: absolute;
  top: 5px;
  left: 1.8rem;
  font-size: 0.3rem;
  color: lightgray;
  transform: translateX(-4.5rem);
  transition: transform 0.5s ease;
}

.star3 {
  position: absolute;
  top: 8px;
  left: 0.3rem;
  font-size: 0.3rem;
  color: lightgray;
  transform: translateX(-1.5rem);
  transition: transform 0.5s ease;
}

.toggle:checked ~ .navBar {
  background-color: rgb(116, 197, 255);
  box-shadow: 0px 2px 10px 0px rgba(255, 255, 255, 0.5);
}

.toggle:checked ~ .navBar > .website_title {
  color: rgb(255, 107, 107);
}

.toggle:checked ~ .navBar > .website_title span {
  color: white;
}

.toggle:checked ~ .navBar > .website_title > .title_wrap > .dogstyle {
  border-right: 2px solid black;
}

.toggle:checked ~ .navBar > .buttons_container > .button1 {
  background-color: rgb(42, 42, 42);
  color: rgb(116, 197, 255);
}

.toggle:checked ~ .navBar > .buttons_container > .button1_active {
  background-color: rgb(116, 197, 255);
  color: black;
}

.toggle:checked ~ .navBar > .buttons_container > .button1:hover {
  background-color: rgb(116, 197, 255);
  color: black;
}

.toggle:checked ~ .navBar > .buttons_container > .button1_active:hover {
  background-color: rgb(42, 42, 42);
  color: rgb(116, 197, 255);
}

.toggle:checked
  ~ .navBar
  > .buttons_container:has(.button1:hover)
  > .button1_active {
  background-color: rgb(42, 42, 42);
  color: rgb(116, 197, 255);
}

.toggle:checked ~ .body {
  background-color: rgb(42, 42, 42);
  color: white;
}

.toggle:checked ~ .body > .grid1 > .chats {
  border-right: 2px solid rgb(94, 94, 94);
}

.toggle:checked
  ~ .body
  > .grid1
  > .chats
  > .chats_content
  > .link
  > .highlight {
  background-color: rgba(116, 197, 255, 0.2);
  border-left: 3px solid rgb(116, 197, 255);
}

.toggle:checked
  ~ .body
  > .grid1
  > .chats
  > .chats_content
  > .link
  > .no_highlight:hover::before {
  background-color: rgba(116, 197, 255, 0.2);
  border-left: 3px solid rgb(116, 197, 255);
}

.toggle:checked
  ~ .body
  > .grid1
  > .messages
  > .text_container
  > .preview
  > .previewMedia
  > .close_file {
  color: black;
  background-color: rgba(116, 197, 255, 0.5);
}

.toggle:checked
  ~ .body
  > .grid1
  > .messages
  > .text_container
  > .preview
  > .previewMedia
  > .close_file:hover {
  background-color: rgb(116, 197, 255);
}

.toggle:checked
  ~ .body
  > .grid1
  > .messages
  > .text_container
  > .text_area
  > .text_input:focus {
  border: 2px solid rgb(116, 197, 255);
}

.toggle:checked
  ~ .body
  > .grid1
  > .messages
  > .text_container
  > .text_area
  > .file_upload {
  background-color: rgb(116, 197, 255);
  color: black;
}

.toggle:checked
  ~ .body
  > .grid1
  > .messages
  > .text_container
  > .text_area
  > .file_upload:hover {
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.6);
  background-color: rgb(42, 42, 42);
  color: rgb(116, 197, 255);
}

.toggle:checked
  ~ .body
  > .grid1
  > .messages
  > .text_container
  > .text_area
  > .send_button {
  background-color: rgb(116, 197, 255);
  color: black;
}

.toggle:checked
  ~ .body
  > .grid1
  > .messages
  > .text_container
  > .text_area
  > .send_button:hover {
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.6);
  background-color: rgb(42, 42, 42);
  color: rgb(116, 197, 255);
}

.toggle:checked ~ .body > .grid1 > .messages > .message_area {
  background-color: rgb(64, 64, 64);
}

.toggle:checked
  ~ .body
  > .grid1
  > .messages
  > .message_area
  > .message_currentUser
  > .messageContainer_currentUser {
  background-color: rgb(116, 197, 255);
  color: black;
}

.toggle:checked
  ~ .body
  > .grid1
  > .messages
  > .message_area
  > .message_otherUser
  > .messageContainer_otherUser {
  background-color: rgb(116, 197, 255);
  color: black;
}

.toggle:checked ~ .body > .toggle_container {
  border: 3px solid white;
}

.toggle:checked ~ .body > .toggle_container > .light_darkMode {
  background-color: rgb(42, 42, 42);
}

.toggle:checked ~ .body > .toggle_container > .light_darkMode > .sun_moon,
.toggle:checked ~ .body > .toggle_container > .light_darkMode > .cloud1,
.toggle:checked ~ .body > .toggle_container > .light_darkMode > .cloud2 {
  transform: translateX(2.6rem);
}

.toggle:checked ~ .body > .toggle_container > .light_darkMode > .sun_moon {
  background-color: lightgray;
  box-shadow: 0px 0px 10px darkgrey;
}

.toggle:checked ~ .body > .toggle_container > .light_darkMode > .moon_crater1,
.toggle:checked ~ .body > .toggle_container > .light_darkMode > .moon_crater2,
.toggle:checked ~ .body > .toggle_container > .light_darkMode > .moon_crater3 {
  visibility: visible;
}

.toggle:checked ~ .body > .toggle_container > .light_darkMode > .star1,
.toggle:checked ~ .body > .toggle_container > .light_darkMode > .star2,
.toggle:checked ~ .body > .toggle_container > .light_darkMode > .star3 {
  transform: translateX(0rem);
}

.footer {
  grid-area: footer;
  text-align: center;
  align-content: center;
  color: white;
  height: 2rem;
  background-color: rgb(52, 58, 64);
}

@media screen and (max-width: 600px) and (orientation: portrait) {
  .grid1 {
    grid-template-columns: 8rem 1fr;
  }

  .website_title {
    font-size: 1rem;
  }

  .website_title img {
    width: 3rem;
  }

  .dogstyle {
    width: 5.5rem;
  }

  .button1 {
    width: 3rem;
    font-size: 0.5rem;
  }

  .button1_active {
    width: 3rem;
    font-size: 0.5rem;
  }

  .chats {
    font-size: 0.7rem;
  }

  .font_size1 {
    font-size: 1rem;
  }

  .profile2 {
    width: 30px;
    height: 30px;
  }

  .messages {
    grid-template-rows: 5rem 70.5vh 5rem;
  }

  .messageContainer_currentUser,
  .messageContainer_otherUser {
    font-size: 0.5rem;
  }

  .chatMedia {
    max-width: 100px;
    max-height: 100px;
  }
}

@media screen and (max-width: 1000px) and (orientation: landscape) {
  .website_title {
    font-size: 1rem;
  }

  .website_title img {
    width: 3rem;
  }

  .button1 {
    width: 3rem;
    font-size: 0.5rem;
  }

  .button1_active {
    width: 3rem;
    font-size: 0.5rem;
  }

  .chats {
    font-size: 0.7rem;
  }

  .font_size1 {
    font-size: 1rem;
  }

  .profile2 {
    width: 30px;
    height: 30px;
  }

  .messages {
    grid-template-rows: 5rem 38vh 5rem;
  }

  .messageContainer_currentUser,
  .messageContainer_otherUser {
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 850px) and (orientation: landscape) {
  .messages {
    grid-template-rows: 3rem 37vh 5rem;
  }
}

@media screen and (max-width: 400px) and (orientation: portrait) {
  .grid1 {
    grid-template-columns: 8rem 1fr;
  }

  .dogstyle {
    width: 5.5rem;
  }

  .messages {
    grid-template-rows: 5rem 60vh 5rem;
  }

  .chatMedia {
    max-width: 90px;
    max-height: 90px;
  }
}

@media screen and (max-width: 700px) and (orientation: landscape) {
  .chatMedia {
    max-width: 150px;
    max-height: 150px;
  }
}

@media screen and (max-width: 360px) and (orientation: portrait) {
  .grid1 {
    grid-template-columns: 8rem 1fr;
  }

  .dogstyle {
    width: 5.5rem;
  }

  .messages {
    grid-template-rows: 5rem 64vh 5rem;
  }

  .chatMedia {
    max-width: 90px;
    max-height: 90px;
  }
}
